.header{
    border: none;
    background-position: center center;
    background-size: 100% 100%;
    
}

.searchBar{
    padding-top: 180px;
    
}
#searchBar{
    width: 300px;
}
.search{
    color: white !important;
    background-color: #275a53;
    width: 75px;
    border-radius: 5px;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}