*{
  margin: 0;
  padding: 0;
}

.bg-head { 
  background: url(./images/images/rectangle13.png) no-repeat center center; 
  -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:500px;
  }
  .head{
    background:rgba(0,0,0,0.6);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height:500px;
  }
